<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  data-color-mode="auto"
  data-light-theme="light"
  data-dark-theme="dark"
>
  <head>
    <meta charset="utf-8" />
    <title>Changelog Helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base target="_blank" />
    <link rel="stylesheet" href="bundle.css" />
  </head>
  <body>
    <div class="markdown-body" id="app">
      <template v-if="!isDone">
        <h1>Changelog Helper</h1>
        <div>
          New Version Number:
          <select class="form-select" v-model="newVersion">
            <option v-for="version in versionOptions" v-bind:value="version">
              {{ version }}
            </option>
          </select>
          <input
            v-if="newVersion === 'other'"
            v-model="customVersion"
            type="text"
            placeholder="Version Number"
          />
        </div>
        <br />
        <div class="change" v-for="(change, index) of changes">
          <input
            class="description form-control"
            v-model="changes[index].description"
            placeholder="Describe your changes"
          />
          <input
            class="number form-control"
            v-model="changes[index].issue"
            placeholder="Issue #"
          />
          <input
            class="number form-control"
            v-model="changes[index].pr"
            placeholder="PR #"
          />
          <div class="buttons BtnGroup">
            <button
              type="button"
              class="btn BtnGroup-item btn-primary"
              @click="changes.splice(index + 1, 0, {})"
            >
              +
            </button>
            <button
              type="button"
              class="btn BtnGroup-item"
              @click="changes.splice(index - 1, 2, changes[index], changes[index - 1])"
              :disabled="index === 0"
            >
              &uarr;
            </button>
            <button
              type="button"
              class="btn BtnGroup-item"
              @click="changes.splice(index, 2, changes[index + 1], changes[index])"
              :disabled="changes.length - 1 === index"
            >
              &darr;
            </button>
            <button
              type="button"
              class="btn BtnGroup-item btn-danger"
              @click="changes.splice(index, 1)"
              :disabled="changes.length === 1 && !index"
            >
              X
            </button>
          </div>
        </div>
        <div>
          <h2>Preview:</h2>
          <div v-html="preview"></div>
          <button type="submit" class="btn btn-primary" @click="submit">
            Write to CHANGELOG.md
          </button>
        </div>
        <br />
        <div v-if="error" class="flash flash-error">{{ error }}</div>
      </template>
      <div v-else>
        <h1>All Done!</h1>
        <p>Please close this browser tab and return to the terminal</p>
      </div>
    </div>
    <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>
